@media print {
    body {
        color: black;
    }

    legend {
        color: black;
        border: 1px solid black;
    }
}

@media screen {
    body {
        color: #ebe7d7; /* tan */
    }

    legend {
        color: #70667d; /* purple */
        border: 1px solid #c1d2cf; /* teal */
    }
}

@media screen,print {
    body {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: large;
        background: #ebe7d7;
    }

    fieldset {
        border: 2px solid #70667d; /* purple */
        background: #70667d; /* purple */
        /*width: 20em*/
    }

    legend {
        font-weight: bold;
        text-shadow: #ebe7d7 0.1em 0.1em 0.2em;
        background: #c1d2cf; /* teal */
        padding: 2px 6px
    }

    .block {
        overflow: hidden;
    }

    .block .myheader {
        font-weight:bold;
        font-size:x-large;
        /*color: red;*/
        color: #FF3300;
        /*text-shadow: black 0.1em 0.1em 0.2em;*/
        text-shadow: 1px 1px 2px black;
        filter: dropshadow(color=black, offx=1, offy=1);
        width: 400px;
        display: block;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 12px;
    }

    .block .myparagraph {
        display: block;
        text-align: center;
        width: 400px;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 12px;
    }

    .block .myaddress {
        font-weight: bold;
        font-size: 14pt;
    }

    .block .mylabel {
        width: 8em;
        display: block;
        float: left;
        text-align: right;
        margin-right: 0.5em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .block .mywidelabel {
        width: 16em;
        display:block;
        float:left;
        text-align:left;
        margin-right: 0.5em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .block .myvalue {
        margin-left: 1em;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    .block .myvalue2 {
        text-align: left;
        padding-top: 2px;
        display: block;
        padding-left: 10em;
        margin-top: 0;
        margin-bottom: 0;
    }

    span.required:after {
        content: "*";
    }

    .block .address {
        display: block;
        text-align: center;
        width: 16em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 4em;
    }

    .block .number {
        width: 5em;
        font-family: 'courier', sans-serif;
        text-align: right;
    }

    .block .date {
        font-family: 'courier', sans-serif;
        text-align: left;
    }

    .block .extra {
        font-family: 'courier', sans-serif;
        margin-left: 2em;
        float: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    .action {
        color: #ebe7d7; /* tan */
    }
}
