.footer_fieldset {
    padding-top: 4px;
    padding-bottom: 4px;
}

.footerbar {
    display: block;
    float: left;
    font-size: small;
    line-height: 20px;
    background: #58595B; /* dark gray (80% gray) */
    padding-top: 2px;
    padding-bottom: 4px;
    width: 856px;
    margin-left: auto;
    margin-right: auto;
}

.footerbar .myparagraph {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.footerbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footerbar li {
    float: left;
    line-height: 22px;
    text-align: center;
    width: 133px;
    margin-left: auto;
    margin-right: auto;
}

.footerbar img {
    vertical-align: middle;
}

.badges {
    height: 20px;
    width: auto;
    border: 0;
}

#inner_footer_div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
