input, select {
    font-size: large;
    color: #ffffff;
    /*background: #ebe7d7; *//* tan */
    background: #58595B; /* dark gray (80% gray) */
}

.field {
    /* just a container? */
}

.field label {
    color: #ffffff;
    width: 250px;
    float: left;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 8px;
    /*margin-top: 4px;*/ /* bad in FF */
}

.field input {
    width: 160px;
    margin-bottom: 8px;
}

.field select {
    width: 164px;
    margin-bottom: 8px;
}

.field ul {
    list-style-type: none;
}

.checkboxes {
    width: 250px;
    margin-left: auto;
}

.checkboxes ul {
    margin-top: 0;
    margin-left: 8px;
    padding: 0;
}

#required {
    text-align: center;
}

ul {
    list-style-type: none;
}

li label {
    color: #ffffff;
}

.submit {
    text-align: center;
}

.submit input {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    background: #58595B;
    border: 2px outset #58595B;
    width: auto;
}

