input, select {
    /*font-family: 'Sorts Mill Goudy', serif;*/
    font-size: large;
    color: #70667d; /* font color is purple */
    background: #ebe7d7; /* tan */
}

.field {
    /* just a container? */
}

.field label {
    color: #ebe7d7; /* tan */
    width: 250px;
    float: left;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 8px;
    /*margin-top: 4px;*/ /* bad in FF */
}

.field input {
    width: 160px;
    margin-bottom: 8px;
    /*float: left;*/
}

.field select {
    width: 164px;
    margin-bottom: 8px;
}

.field ul {
    list-style-type: none;
}

.checkboxes {
    width: 250px;
    margin-left: auto;
}

.checkboxes ul {
    margin-top: 6px;
    margin-left: 8px;
    padding: 0px;
}

#required {
    text-align: center;
}

ul {
    list-style-type: none;
}

li label {
    color: #ebe7d7; /* tan */
    /*padding-top: 2px;*/
    /*display: block;*/
    /*padding-left: 250px;*/
    /*text-indent: -1.5em;*/
}

.submit {
    /*width: 250px;*/
    /*margin:auto 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
}

.submit input {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: large;
    font-weight: bold;
    color: #70667d;
    background: #ebe7d7;
    border: 2px outset #ebe7d7;
    width: auto;
}

