{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
Northwest Kids Show
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <p></p>
    <fieldset>
{#    <legend>#}
{#    </legend>#}
    <div class="block">
        <p class="myheader">
            404 Error - Page Not Found
        </p>
        <p class="myparagraph">
            Sorry, but the requested page could not be found.
            <br>
            Click <a href="/">HERE</a> to try again from the Home page.
        </p>
    </div>
    </fieldset>

{% endblock %}

{% block footer %}
{% endblock %}
