<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/display.css"/>
    <title>Northwest Kids Show</title>
</head>

<body>

    <p></p>
    <fieldset>
{#    <legend>#}
{#    </legend>#}
    <div class="block">
        <p class="myheader">
            500 Server Error
        </p>
        <p class="myparagraph">
            Sorry, but this request caused a server error.
            <br>
            Our brilliant (and handsome) web developer has been notified, please try again later.
            <br>
            Click <a href="/">HERE</a> to try again from the Home page.
        </p>
    </div>
    </fieldset>

</body>
