{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
    {% if venue == 'cakidsshow' %}
        California Kids Show
    {% else %}
        Northwest Kids Show
    {% endif %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <fieldset>
    <legend>
        About
    </legend>
    <div class="block">
        <p class="myheader">
            {% if venue == 'cakidsshow' %}
            What is California Kids Show?
            {% else %}
            What is Northwest Kids Show?
            {% endif %}
        </p>
        <p class="myparagraph" id="center_inner">
            {% if venue == 'cakidsshow' %}
            California Kids Show is an exclusive children's wholesale market. Located in San Francisco, this wholesale market provides retailers who sell children's products an opportunity to see the very best in fashion apparel, accessories, shoes, toys, and gift lines displayed in one convenient location.<br>
            <br>
            As a wholesale exhibitor it's a wonderful venue for reach the trend-savvy California retailer.<br>
            {% else %}
            Including both Pacific Northwest and California children's wholesalers, Northwest Kids Show has become one of the biggest, exclusively children's wholesale markets on the West Coast.<br>
            <br>
            This Seattle-based wholesale market provides retailers who sell children's products an opportunity to see the very best in fashion apparel, accessories, shoes, toys, and gift lines displayed in one convenient location.<br>
            <br>
            As an exhibitor, it's a wonderful venue for manufacturers and entrepreneurs alike to reach the trend-savvy Northwest retailers.<br>
            {% endif %}
        </p>
    </div>
    </fieldset>
{% endblock %}

{% block footer %}
{% endblock %}
