{% extends "base.html" %}

{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<!-- <p>{{ params }}</p> -->
{% if advice %}

	{% ifequal advice 'denied' %}
        <p class="error">Access to that page is denied, please try another.</p>
        <div class="info"><a href="/accounts/login">Or click here to login</a>.</div>
    {% endifequal %}

    {% ifequal advice 'deactivated' %}
        <p class="error">Your account has been deactivated. Please contact Laurie or email &ldquo;info&rdquo; at nwkidsshow.com.</p>
    {% endifequal %}

    {% ifequal advice 'noinvoice' %}
        <p class="error">There is no registration invoice for you for that show.</p>
    {% endifequal %}

    {% ifequal advice 'noregistration' %}
        <p class="error">There is no registration for you for that show.</p>
    {% endifequal %}

    {% ifequal advice 'logged_out' %}
        <p class="success">You have been successfully logged out.</p>
        <div class="info"><a href="/accounts/login">Click here to login</a>.</div>
    {% endifequal %}

    {% ifequal advice 'login' %}
        <p class="error">Please login first.</p>
        <div class="info"><a href="/accounts/login">Click here to login</a>.</div>
    {% endifequal %}

    {% ifequal advice 'noexhibitor' %}
        <p class="error">A record for that exhibitor does not exist.</p>
    {% endifequal %}

    {% ifequal advice 'not_allowed_exhibitor' %}
        <p class="error">You did not register for a show that exhibitor attended.</p>
    {% endifequal %}

{% else %}

{# should not get here #}
<p class="error">Something bad happened. Wish I could tell you more.</p>

{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
