{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
	body {
		font-family: 'Sorts Mill Goudy', serif;
		font-size: large;
		background: #ebe7d7;
	}
</style>
{% endblock %}

{% block head %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<!-- <p>{{ params }}</p> -->
{% if params.advice %}

	{% ifequal params.advice 'denied' %}
        <p class="error">Access to that page is denied, please try another.</p>
        <div class="info"><a href="/accounts/login">Or click here to login</a>.</div>
    {% endifequal %}

    {% ifequal params.advice 'deactivated' %}
        <p class="error">Your account has been deactivated. Please contact Laurie or email &ldquo;info&rdquo; at nwkidsshow.com.</p>
    {% endifequal %}

    {% ifequal params.advice 'logged_out' %}
        <p class="success">You have been successfully logged out.</p>
        <div class="info"><a href="/accounts/login">Click here to login</a>.</div>
    {% endifequal %}

    {% ifequal params.advice 'login' %}
        <p class="error">Please login first.</p>
        <div class="info"><a href="/accounts/login">Click here to login</a>.</div>
    {% endifequal %}

{% else %}

{# should not get here #}
<p class="error">Something bad happened. Wish I could tell you more.</p>

{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
