<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% block jquery %}{% endblock %}
{#    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>#}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/links.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/messages.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footer.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/display.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/activity.css">
    {% if venue == 'cakidsshow' %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/display-cks.css">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/display-nwks.css">
    {% endif %}
    {% block internal_css %}{% endblock %}
    <title>{% block head %}{% endblock %}</title>
</head>

<body>

{% load user_type %}

<div id="centerdiv">

<div class="navblock">
    <div class="banner">
{#        <img src="{{ STATIC_URL }}images/cks-banner.png" alt="California Kids Show">#}
        <img src="{{ STATIC_URL }}images/{{ banner_left }}" alt="California Kids Show"><img src="{{ STATIC_URL }}images/{{ banner_right }}" alt="California Kids Show">
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            {% if not user.is_authenticated %}
                <li><a href="/accounts/login/">Login</a></li>
            {% else %}
                {% ifexhibitor %}
                    <li><a href="/exhibitor/home/">Exhibitor</a></li>
                {% endifexhibitor %}
                {%  ifretailer %}
                    <li><a href="/retailer/home/">Retailer</a></li>
                {% endifretailer %}
            <li><a href="/accounts/logout/">Logout</a></li>
            {% endif %}
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>
</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
<!-- footer for all pages -->
    <p></p>
    <div class="footerbar">
        <p class="myparagraph">
            v&nbsp;{{ VERSION }}.0&nbsp;&copy;{% now "Y" %} Laurel Event Management LLC
        </p>
        <div id="inner_footer_div">
        <ul>
            <li>
                <a href="http://www.python.org/">
                    <img class="badges" src="http://www.python.org/community/logos/python-powered-w-70x28.png" alt="Python Powered.">
                </a>
            </li>
            <li>
                <a href="https://www.djangoproject.com/">
                    <img class="badges" src="https://www.djangoproject.com/s/img/badges/djangomade124x25.gif" alt="Made with Django." title="Made with Django.">
                </a>
            </li>
            <li>
                <a href="https://developers.google.com/appengine/">
                    <img class="badges" src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine">
                </a>
            </li>
        </ul>
        </div>
    </div>

{% block hidden %}{% endblock %}
</div>

</body>

</html>
