{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
Northwest Kids Show
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <p></p>
    <fieldset>
    <legend>
        Contact
    </legend>
    <div class="block">
        <p class="myheader">
            Questions or Comments?
        </p>
        <p class="myparagraph">
            Laurie Macielinski<br>
            Event Coordinator<br>
            Laurel Event Management, LLC<br>
            <br>
            PO Box 2791<br>
            Tualatin, OR 97062<br>
            <br>
            <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
        </p>
    </div>
    </fieldset>

{% endblock %}

{% block footer %}
{% endblock %}
