{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
    {% if venue == 'cakidsshow' %}
        California Kids Show
    {% else %}
        Northwest Kids Show
    {% endif %}
{% endblock %}

{% block content %}

    <fieldset>
    <legend>
        Contact
    </legend>
    <div class="block">
        <p class="myheader">
            Questions or Comments?
        </p>
        <p class="myparagraph">
            Laurie Macielinski<br>
            Event Coordinator<br>
            Laurel Event Management, LLC<br>
            <br>
            PO Box 2791<br>
            Tualatin, OR 97062<br>
            <br>
            {% if venue == 'cakidsshow' %}
            <a href="mailto:info@cakidsshow.com">info@cakidsshow.com</a>
            {% else %}
            <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
            {% endif %}
        </p>
    </div>
    </fieldset>

{% endblock %}

{% block footer %}
{% endblock %}
