{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_first_name").focus();
        });
    </script>
{% endblock %}

{% block head %}
    REGISTER FOR A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <fieldset>
        <legend>Edit Your Profile</legend>
        <form action="" method="post" id="center_inner">
            {% csrf_token %}

            <p class="field">
                <label>{{ form.first_name.label }}:</label>
                {{ form.first_name }}
                {% if form.first_name.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.first_name.errors %}
                    <span class="error">{{ form.first_name.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.last_name.label }}:</label>
                {{ form.last_name }}
                {% if form.last_name.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.last_name.errors %}
                    <span class="error">{{ form.last_name.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.email.label }}:</label>
                {{ form.email }}
                {% if form.email.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.email.errors %}
                    <span class="error">{{ form.email.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.company.label }}:</label>
                {{ form.company }}
                {% if form.company.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.company.errors %}
                    <span class="error">{{ form.company.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.website.label }}</label>
                {{ form.website }}
                {% if form.website.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.website.errors %}
                    <span class="error">{{ form.website.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.address.label }}</label>
                {{ form.address }}
                {% if form.address.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.address.errors %}
                    <span class="error">{{ form.address.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.address2.label }}</label>
                {{ form.address2 }}
                {% if form.address2.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.address2.errors %}
                    <span class="error">{{ form.address2.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.city.label }}</label>
                {{ form.city }}
                {% if form.city.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.city.errors %}
                    <span class="error">{{ form.city.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.state.label }}</label>
                {{ form.state }}
                {% if form.state.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.state.errors %}
                    <span class="error">{{ form.state.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.zip.label }}</label>
                {{ form.zip }}
                {% if form.zip.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.zip.errors %}
                    <span class="error">{{ form.zip.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.phone.label }}</label>
                {{ form.phone }}
                {% if form.phone.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.phone.errors %}
                    <span class="error">{{ form.phone.errors|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.fax.label }}</label>
                {{ form.fax }}
                {% if form.fax.field.required %}
                    <span class="required"></span>
                {% endif %}
                {% if form.fax.errors %}
                    <span class="error">{{ form.fax.errors|first }}</span>
                {% endif %}
            </p>

        <p id="required">&ldquo;<span class="required"></span>&rdquo; indicates a required field</p>

            <p class="submit">
                <input type="submit" value="Submit">
            </p>
        </form>
    </fieldset>
{% endblock %}
