{% extends "base.html" %}

{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
    EXHIBITOR
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Get Into the Next Show</legend>
        <p><a href="/register/" class="activityButton">Register</a> Register for a show.</p>
       {% if venue == 'cakidsshow' %}
        <p><a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/SFOSOES-CKS-20140919/index.jhtml?WT.mc_id=POG" class="activityButton">
            Reserve a Room
        </a> Make your Embassy Suites reservation online.</p>
       {% else %}
        <p><a href="http://doubletree.hilton.com/en/dt/groups/personalized/S/SEASPDT-NWK-20140926/index.jhtml" class="activityButton">
            Reserve a Room
        </a> Make your DoubleTree reservation online.</p>
        {% endif %}
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Keep Your Information Current</legend>
        <p><a href="/edit/" class="activityButton">Profile</a> Edit my profile that is seen by other attendees.</p>
        <p><a href="/lines/" class="activityButton">Lines</a> Edit my lines that are searchable by attendees.</p>
        <p><a href="/accounts/password_change/" class="activityButton">Password</a> Change my password.</p>
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Reports</legend>
        <p><a href="/report/retailers/" class="activityButton">Retailers</a> Report on the RETAILERS registered for a show.</p>
        <p><a href="/report/exhibitors/" class="activityButton">Exhibitors</a> Report on the EXHIBITORS at a show.</p>
        <p><a href="/report/lines/" class="activityButton">Lines</a> Report on the Exhibitor PRODUCT LINES at a show.</p>
        <p><a href="/invoices/" class="activityButton">Invoices</a> View invoices for shows you've registered for.</p>
    </fieldset>

{% endblock %}
