{% extends "base.html" %}

{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
    EXHIBITOR
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Choose an Activity</legend>
        <p class="action"><a href="/register/">Register</a> for a show.</p>

        <p class="action"><a href="/invoices/">View</a> invoices for shows you've registered for.</p>

        <p class="action"><a href="/lines/">Edit</a> my lines.</p>

        <p class="action"><a href="/report/retailers/">Report</a> on the RETAILERS registered for a show.</p>

        <p class="action"><a href="/edit/">Edit</a> my profile.</p>

        <p class="action"><a href="/accounts/password_change/">Change</a> my password.</p>
    </fieldset>
{% endblock %}
