{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
	body {
		font-family: 'Sorts Mill Goudy', serif;
		font-size: large;
		background: #ebe7d7;
	}
	
	fieldset {
		border: 2px solid #70667d; /* purple */
		background: #70667d; /* purple */
		/*width: 20em*/
	}

	legend {
		font-weight: bold;
		color: #70667d; /* purple */
		background: #c1d2cf; /* teal */
		border: 1px solid #c1d2cf; /* teal */
		padding: 2px 6px
	}
	
	.action {
		color: #ebe7d7; /* tan */
	}
	
	a:link     { font-weight:bold; color:#c1d2cf; text-decoration:none; }
	a:visited  { font-weight:bold; color:#c1d2cf; text-decoration:none; }
	a:hover    { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
	a:active   { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
</style>
{% endblock %}

{% block head %}
EXHIBITOR
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<fieldset>
	<legend>Choose an Activity</legend>
	<p class="action"><a href="/register/">Register</a> for a show.</p>
	<p class="action"><a href="/lines/">Edit</a> my lines.</p>
	<p class="action"><a href="/report/retailers/">Report</a> on the RETAILERS at a show.</p>
	<p class="action"><a href="/edit/">Edit</a> my profile.</p>
</fieldset>
{% endblock %}
