{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
EXHIBITOR DETAIL
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% load get_item %}
    <p></p>
    <fieldset>
        <div class="block">
            <p class="myvalue">
                {{ e.first_name_display }}&nbsp;{{ e.last_name_display }}
                {% if e.company %}<br>{{ e.company }}{% endif %}
                {% if e.email_display %}<br><a href="mailto:{{ e.email_display }}">{{ e.email_display }}</a>{% endif %}
                {% if e.website %}<br><a href="{{ e.website }}">{{ e.website }}</a>{% endif %}
                {% if e.phone %}<br>{{ e.phone }}{% endif %}
                {% if e.fax %}<br>{{  e.fax }}&nbsp;fax{% endif %}
                {% if e.address %}<br>{{ e.address }}{% endif %}
                {% if e.address2 %}<br>{{ e.address2 }}{% endif %}
                {% if e.city or e.state or e.zip %}<br>{% endif %}
                {% if e.city %}{{ e.city }},&nbsp;{% endif %}
                {% if e.state %}{{ e.state }}&nbsp;{% endif %}
                {% if e.zip %}{{ e.zip }}{% endif %}
                {% if e.lines %}<br>{{ e.lines }}{% endif %}
                {% if rooms|get_item:e.id %}<br>Room #{{ rooms|get_item:e.id }}{% endif %}
            </p>
        </div>
    </fieldset>
{% endblock %}
