{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
Northwest Kids Show
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

    <p></p>
    <fieldset>
    <legend>
        Next Show
    </legend>
    <div class="block">
        <p class="myheader">
            {{ show.start_date|date:"l, F jS" }}<br>
            through<br>
            {{ show.end_date|date:"l, F jS" }}<br>
            {{ show.end_date|date:"Y" }}
        </p>
        <p class="address">
            DoubleTree by Hilton - Southcenter<br>
            16500 Southcenter Parkway<br>
            Seattle, WA 98188
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Exhibitors
    </legend>
    <div class="block">
        {% if false %}
        <p class="myheader">
            Important Dates
        </p>
        <p class="myparagraph">
            Registration is <em>LATE</em> after<br>
            <span class="myaddress">{{ show.late_date }}</span><br>
            Registration is <em>CLOSED</em> after<br>
            <span class="myaddress">{{ show.closed_date }}</span>
        </p>
        <p class="myheader">
            Register Online!
        </p>
        <p class="myparagraph">
            Already have an account?<br>
            <a href="/accounts/login/">LOGIN HERE</a><br>
            ... or request one by sending email to<br>
            <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
        </p>
        {% else %}
            <p class="myheader">Exhibitor registration is now closed.</p>
            <p class="myparagraph">Please make sure your <a href="/edit/">profile</a> and <a href="/lines/">lines</a> are up-to-date!</p>
        {% endif %}
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Retailers
    </legend>
    <div class="block">
        <p class="myheader">
            Register Online!
        </p>
        <p class="myparagraph">
            Already have an account?<br>
            <a href="/accounts/login/">LOGIN HERE</a><br>
            ... or request one by sending email to<br>
            <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Hotel Reservations
    </legend>
    <div class="block">
        <p class="myheader">
            Need to make a hotel reservation?
        </p>
        <p class="myparagraph">
           {#<a href="http://doubletree.hilton.com/en/dt/groups/personalized/S/SEASPDT-KID-20130223/index.jhtml?WT.mc_id=POG">#}
            <a href="http://doubletree.hilton.com/en/dt/groups/personalized/S/SEASPDT-NWK-20130927/index.jhtml?WT.mc_id=POG">
                Click here
            </a> to make your DoubleTree reservation online.
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        2014 Show Dates
    </legend>
    <div class="block">
        <p class="myheader">
            Announcing the 2014<br>Northwest Kids Show Dates!
        </p>
        <p class="myparagraph">
            March 8th through 10th<br>
            October 4th through 6th
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Follow us on Facebook
    </legend>
    <div class="block">
        <p class="myparagraph">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FNorthwest-Kids-Show%2F125507590815778&width=400&height=427&show_faces=false&colorscheme=light&stream=true&show_border=true&header=true"
                    scrolling="no" frameborder="0" allowTransparency="true"
                    style="
                        background:#c1d2cf;
                        border:none;
                        overflow:hidden;
                        width:400px;
                        height:427px;">
            </iframe>
        </p>
    </div>
    </fieldset>

{% endblock %}

{% block footer %}
{% endblock %}
