{% extends "base.html" %}

{% block internal_css %}
<style type="text/css">
    legend {
        color: {{ highlight_fg }};
        background: {{ highlight_bg }};
        border-color: {{ highlight_bg }};
    }
</style>
{% endblock %}

{% block head %}
    {% if venue == 'cakidsshow' %}
        California Kids Show
    {% else %}
        Northwest Kids Show
    {% endif %}
{% endblock %}

{% block content %}

    <fieldset>
    <legend>
        {% if venue == 'cakidsshow' %}
        Next California Kids Show
        {% else %}
        Next Northwest Kids Show
        {% endif %}
    </legend>
    <div class="block">
        <p class="myheader">
            {% if show %}
                {{ show.start_date|date:"l, F jS" }}<br>
                through<br>
                {{ show.end_date|date:"l, F jS" }}<br>
                {{ show.end_date|date:"Y" }}<br>
                9am to 6pm daily.<br>
                Note: Show is not open to the general public, only registered retailers and wholesalers.
            {% else %}
                Sorry, next show dates not available yet...
            {% endif %}
        </p>
        <p class="address">
            {% if venue == 'cakidsshow' %}
            Embassy Suites San Francisco Airport - South San Francisco<br>
            250 Gateway Boulevard<br>
            South San Francisco, California, 94080
            {% else %}
            DoubleTree by Hilton - Southcenter<br>
            16500 Southcenter Parkway<br>
            Seattle, WA 98188
            {% endif %}
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Exhibitors
    </legend>
    <div class="block">
        {% if not show %}
            <p class="myheader">Sorry, next show dates not available yet...</p>
        {% elif show.is_closed %}
            <p class="myheader">Exhibitor registration is now closed.</p>
            <p class="myparagraph">Please make sure your <a href="/edit/">profile</a> and <a href="/lines/">lines</a> are up-to-date!</p>
        {% else %}
            <p class="myheader">
                Important Dates
            </p>
            <p class="myparagraph">
                Registration is <em>LATE</em> after<br>
                <span class="myaddress">{{ show.late_date }}</span><br>
                Registration is <em>CLOSED</em> after<br>
                <span class="myaddress">{{ show.closed_date }}</span>
            </p>
            <p class="myheader">
                Register Online!
            </p>
            <p class="myparagraph">
                Already have an account?<br>
                <a href="/accounts/login/">LOGIN HERE</a><br>
                ... or request one by sending email to<br>
                {% if venue == 'cakidsshow' %}
                <a href="mailto:info@cakidsshow.com">info@cakidsshow.com</a>
                {% else %}
                <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Retailers
    </legend>
    <div class="block">
        <p class="myheader">
            Register Online!
        </p>
        <p class="myparagraph">
            Already have an account?<br>
            <a href="/accounts/login/">LOGIN HERE</a><br>
            ... or request one by sending email to<br>
            {% if venue == 'cakidsshow' %}
            <a href="mailto:info@cakidsshow.com">info@cakidsshow.com</a>
            {% else %}
            <a href="mailto:info@nwkidsshow.com">info@nwkidsshow.com</a>
            {% endif %}
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
    <legend>
        Hotel Reservations
    </legend>
    <div class="block">
        <p class="myheader">
            Need to make a hotel reservation?
        </p>
        <p class="myparagraph">
           {% if venue == 'cakidsshow' %}
            <a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/SFOSOES-CK2-20140222/index.jhtml">
                Click here
            </a> to make your Embassy Suites reservation online.
           {% else %}
            <a href="http://doubletree.hilton.com/en/dt/groups/personalized/S/SEASPDT-KID-20140307/index.jhtml">
                Click here
            </a> to make your DoubleTree reservation online.
            {% endif %}
        </p>
    </div>
    </fieldset>

   {% if venue != 'cakidsshow' %}
    <p></p>
    <fieldset>
    <legend>
        2014 Show Dates
    </legend>
    <div class="block">
        <p class="myheader">
            Announcing the 2014<br>Northwest Kids Show Dates!
        </p>
        <p class="myparagraph">
            March 8th through 10th<br>
            October 4th through 6th
        </p>
    </div>
    </fieldset>
    {% endif %}

   {% if venue != 'cakidsshow' %}
    <p></p>
    <fieldset>
    <legend>
        Follow us on Facebook
    </legend>
    <div class="block">
        <p class="myparagraph">
            <object data="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FNorthwest-Kids-Show%2F125507590815778&amp;width=400&amp;height=427&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=true&amp;header=true"
                    style="
                        background:#c1d2cf;
                        border:none;
                        overflow:hidden;
                        width:400px;
                        height:427px;">
            </object>
        </p>
    </div>
    </fieldset>
    {% endif %}

    <p></p>
    <fieldset>
    <legend>
        Policies
    </legend>
    <div class="block">
        <p class="myparagraph">
            See our <a href="/privacy-policy/">Privacy Policy</a>.
        </p>
    </div>
    </fieldset>

{% endblock %}

{% block footer %}
{% endblock %}
