{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, show picker #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_show").focus();
        });
    </script>
{% endblock %}

{% block head %}
EDIT YOUR LINES
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <fieldset>
        <legend>Edit Your Lines</legend>
        <form action="" method="post">
        {% csrf_token %}

        {% for f in form %}
            <p class="field">
                <label>{{ f.label }}:</label>
                {{ f }}
                {% if f.errors %}
                    <span class="error">{{ f.errors|first }}</span>
                {% endif %}
            </p>
        {% endfor %}

        <p class="submit">
            <input type="submit" name="save" value="Save & Continue">
            <input type="submit" name="done" value="Save & Done">
        </p>
        </form>
    </fieldset>
{% endblock %}
