{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, username #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#id_username").focus();
     });
</script>
{% endblock %}

{% block head %}
LOGIN
{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid Username or Password.</p>
    {% endif %}

    <fieldset>
        <legend>Login</legend>
        <form action="" method="post" id="center_inner">
            {% csrf_token %}

            <p class="field">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.errors.username %}
                    <span class="error">{{ form.errors.username|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
                {% if form.errors.password %}
                    <span class="error">{{ form.errors.password|first }}</span>
                {% endif %}
            </p>

            <p class="submit">
                <input type="submit" value="Submit"/>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </p>
        </form>
    </fieldset>
{% endblock %}
