{% extends "base.html" %}

{% block head %}
LOGIN
{% endblock %}

{% block title %}
LOGIN
{% endblock %}


{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
	<div id="inputs1" style="width:200px;height:90px;">
		<div style="height:20px;width:100px;height:30px;float:left;">
	    	<label for="username">User name:</label>
	    </div>
	    <div style="height:20px;width:100px;height:30px;float:left;">
	    	<input type="text" name="username" value="" id="username">
	    </div>
		<div style="height:20px;width:100px;height:30px;float:left;">
		    <label for="password">Password:</label>
	    </div>
	    <div style="height:20px;width:100px;height:30px;float:left;">
		    <input type="password" name="password" value="" id="password">
	    </div>
		<div style="height:20px;width:200px;height:30px;">
		    <input type="submit" value="login" />
		    <input type="hidden" name="next" value="{{ next|escape }}" />
	    </div>
	</div>
  </form>

{% endblock %}