{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
	body {
		font-family: 'Sorts Mill Goudy', serif;
		font-size: large;
		background: #ebe7d7;
	}

	fieldset {
		border: 2px solid #70667d; /* purple */
		background: #70667d; /* purple */
		/*width: 20em*/
	}

	legend {
		font-weight: bold;
		color: #70667d; /* purple */
		background: #c1d2cf; /* teal */
		border: 1px solid #c1d2cf; /* teal */
		padding: 2px 6px
	}

	label {
		color: #ebe7d7; /* tan */
		width: 6em;
		float: left;
		text-align: right;
		margin-right: 0.5em;
		display: block
	}

	input {
		/*font-family: 'Sorts Mill Goudy', serif;*/
		font-size: large;
		color: #70667d; /* font color is purple */
		background: #ebe7d7 /* tan */
	}

	.submit input {
		font-family: 'Sorts Mill Goudy', serif;
		font-size: large;
		font-weight: bold;
		color: #70667d;
		background: #ebe7d7;
		border: 2px outset #ebe7d7;
		margin-left: 0.3em;
	}
</style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, username #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#username").focus();
     });
</script>
{% endblock %}

{% block head %}
LOGIN
{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid Username or Password.</p>
    {% endif %}

    <fieldset>
        <legend>Login</legend>
        <form action="" method="post">
            {% csrf_token %}

            <p class="field">
                <label>{{ form.username.label }}</label>
                {{ form.username }}
                {% if form.errors.username %}
                    <span class="error">{{ form.errors.username|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.password.label }}</label>
                {{ form.password }}
                {% if form.errors.password %}
                    <span class="error">{{ form.errors.password|first }}</span>
                {% endif %}
            </p>

            <p class="submit">
                <input type="submit" value="Submit"/>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </p>
        </form>
    </fieldset>
{% endblock %}
