{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, username #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_old_password").focus();
        });
    </script>
{% endblock %}

{% block head %}
    LOGIN
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <fieldset>
        <legend>Change Your Password</legend>

        <form action="" method="post" id="center_inner">
            {% csrf_token %}

            <div class="field">
                {% if form.errors.old_password %}
                    <div class="error">{{ form.errors.old_password|first }}</div>
                {% endif %}
                <label>
                    {{ form.old_password.label }}:
                    {% if form.old_password.field.required %}
                        <span class="required"></span>
                    {% endif %}
                </label>
                {{ form.old_password }}
            </div>

            <div class="field">
                {% if form.errors.new_password1 %}
                    <div class="error">{{ form.errors.new_password1|first }}</div>
                {% endif %}
                <label>
                    {{ form.new_password1.label }}:
                    {% if form.new_password1.field.required %}
                        <span class="required"></span>
                    {% endif %}
                </label>
                {{ form.new_password1 }}
            </div>

            <div class="field">
                {% if form.errors.new_password2 %}
                    <div class="error">{{ form.errors.new_password2|first }}</div>
                {% endif %}
                {#<label>{{ form.new_password2.label }}</label>#}
                <label>
                    New password again:
                    {% if form.new_password2.field.required %}
                        <span class="required"></span>
                    {% endif %}
                </label>
                {{ form.new_password2 }}
            </div>

            <div id="required">&ldquo;<span class="required"></span>&rdquo; indicates a required field</div>

            <div class="submit">
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </fieldset>
{% endblock %}
