{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, username #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_old_password").focus();
        });
    </script>
{% endblock %}

{% block head %}
    LOGIN
{% endblock %}

{% block title %}
{% endblock %}


{% block content %}

    {% if form.errors %}
        <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <fieldset>
        <legend>Change Your Password</legend>

        <form action="" method="post" id="center_inner">
            {% csrf_token %}

            <p class="field">
                <label>{{ form.old_password.label }}</label>
                {{ form.old_password }}
                {% if form.errors.old_password %}
                    <span class="error">{{ form.errors.old_password|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                <label>{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {% if form.errors.new_password1 %}
                    <span class="error">{{ form.errors.new_password1|first }}</span>
                {% endif %}
            </p>

            <p class="field">
                {#<label>{{ form.new_password2.label }}</label>#}
                <label>New password again</label>
                {{ form.new_password2 }}
                {% if form.errors.new_password2 %}
                    <span class="error">{{ form.errors.new_password2|first }}</span>
                {% endif %}
            </p>

            <p class="submit">
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </fieldset>
{% endblock %}
