    <fieldset class="footer_fieldset">
        <div id="center_inner">
            <div class="submit">
                <input type="button"
                       {# onClick="window.print()" #}
                       {# onClick="printme()" #}
                       {# onClick="printme2()" #}
                       onClick="printme3()"
                       value="Print This Report"
                       alt="Print This Report"/>
                &nbsp;&nbsp;
                <input type="button"
                       onclick="location.href='xls/'"
                       value="Export This Report to Excel"
                       alt="Export This Report to Excel"/>
            </div>
        </div>
    </fieldset>

