    <fieldset class="footer_fieldset">
        <div class="footerbar">
            <p class="myparagraph">
            <p class="submit">
                <input type="button"
                       {# onClick="window.print()" #}
                       {# onClick="printme()" #}
                       {# onClick="printme2()" #}
                       onClick="printme3()"
                       value="Print This Report"
                       alt="Print This Report"/>
            </p>
        </div>
    </fieldset>

