{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
    @media print {
        body {
            color: black;
        }
        legend {
            color: black;
            border: 1px solid black;
        }
    }
    @media screen {
        body {
            color: #ebe7d7; /* tan */
        }
        legend {
            color: #70667d; /* purple */
            border: 1px solid #c1d2cf; /* teal */
        }
    }
    @media all {
        body {
            font-family: 'Sorts Mill Goudy', serif;
            font-size: large;
            background: #ebe7d7;
        }

        fieldset {
            border: 2px solid #70667d; /* purple */
            background: #70667d; /* purple */
            /*width: 20em*/
        }

        legend {
            font-weight: bold;
            background: #c1d2cf; /* teal */
            padding: 2px 6px
        }

        div.block {
            overflow:hidden;
        }

        div.block .mylabel {
            width: 8em;
            display:block;
            float:left;
            text-align:right;
            margin-right: 0.5em;
            margin-top: 0;
            margin-bottom: 0;
        }
        div.block .myvalue{
            text-align: left;
            padding-top: 2px;
            display: block;
            padding-left: 10em;
            text-indent: -1em;
            margin-top: 0;
            margin-bottom: 0;
        }

        div.block .address{
            display:block;
            text-align:center;
            width: 16em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 4em;
        }
        div.block .number{
            width: 5em;
            font-family: 'courier', sans-serif;
            text-align: right;
        }

        div.block .date{
            font-family: 'courier', sans-serif;
        }

        div.block .extra{
            font-family: 'courier', sans-serif;
            margin-left: 2em;
            float:left;
            margin-top: 0;
            margin-bottom: 0;
        }

        a:link     { font-weight:bold; color:#c1d2cf; text-decoration:none; }
        a:visited  { font-weight:bold; color:#c1d2cf; text-decoration:none; }
        a:hover    { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
        a:active   { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
    }
</style>
{% endblock %}

{% block head %}
YOUR REGISTRATION DETAILS
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% load humanize %}
    {% load datemath %}

    <p></p>
    <fieldset>
    <legend>Show Details</legend>
    <div class="block">
        <p class="mylabel">Starts on:</p>
        <p class="myvalue date">{{ show.start_date|date:"l, F jS Y" }}</p>
    </div>
    <div class="block">
        <p class="mylabel">Ends on:</p>
        <p class="myvalue date">{{ show.end_date|date:"l, F jS Y" }}</p>
    </div>
    <div class="block">
        <p class="mylabel">Attending on:</p>
        {% for d in registration.days_as_list %}
            <p class="myvalue date">{{ show.start_date|dayadd:d|date:"l, F jS Y" }} from 9am to 6pm</p>
        {%  endfor %}
    </div>
    <div class="block">
        <p class="address">
            DoubleTree by Hilton - Southcenter<br>
            16500 Southcenter Parkway<br>
            Seattle, WA 98188
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Disclaimers</legend>
        <div class="block">
            <p>By registering for this show, you agree to all terms and conditions of Northwest Kids Show.</p>
        </div>
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Choose an Activity</legend>
        <p class="action"><a href="/edit/">Edit</a> my profile.</p>
        <p class="action"><a href="/report/exhibitors/">Report</a> on the EXHIBITORS at a show.</p>
        <p class="action"><a href="/report/lines/">Report</a> on the PRODUCT LINES at a show.</p>
    </fieldset>
{% endblock %}
