{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, show picker #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#id_show").focus();
     });
</script>
{% endblock %}

{% block head %}
REGISTER FOR A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% if not show_count %}
        {# TODO: make this advice at top? Not in fieldset? #}
        <p class="info">There appear to be no active shows right now. Please try again soon.</p>
    {% else %}
        {% if form.errors %}
            <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
        {% endif %}

        <fieldset>
        <legend>Register for a show</legend>
        <form action="" method="post" id="center_inner">
            {% csrf_token %}
            <div class="field">
                {% if form.show.errors %}
                    <div class="error">{{ form.show.errors|first }}</div>
                {% endif %}
                <label>
                    {{ form.show.label }}:
                    {% if form.show.field.required %}
                        <span class="required"></span>
                    {% endif %}
                </label>
                {{ form.show }}
            </div>
            {% if is_exhibitor %}
                <div class="field">
                    {% if form.num_associates.errors %}
                        <div class="error">{{ form.num_associates.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.num_associates.label }}:
                        {% if form.num_associates.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                    {{ form.num_associates }}
                </div>
                <div class="field">
                    {% if form.num_assistants.errors %}
                        <div class="error">{{ form.num_assistants.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.num_assistants.label }}:
                        {% if form.num_assistants.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                    {{ form.num_assistants }}
                </div>
                <div class="field">
                    {% if form.num_racks.errors %}
                        <div class="error">{{ form.num_racks.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.num_racks.label }}:
                        {% if form.num_racks.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                    {{ form.num_racks }}
                </div>
                <div class="field">
                    {% if form.num_tables.errors %}
                        <div class="error">{{ form.num_tables.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.num_tables.label }}:
                        {% if form.num_tables.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                    {{ form.num_tables }}
                </div>
            {% else %}
                <div class="field">
                    {% if form.num_attendees.errors %}
                        <div class="error">{{ form.num_attendees.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.num_attendees.label }}:
                        {% if form.num_attendees.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                    {{ form.num_attendees }}
                </div>

                <div class="field">
                    {% if form.days_attending.errors %}
                        <div class="error">{{ form.days_attending.errors|first }}</div>
                    {% endif %}
                    <label>
                        {{ form.days_attending.label }}:
                        {% if form.days_attending.field.required %}
                            <span class="required"></span>
                        {% endif %}
                    </label>
                </div>
                <div class="checkboxes">
                    {{ form.days_attending }}
                </div>

            {% endif %}
            <div id="required">&ldquo;<span class="required"></span>&rdquo; indicates a required field</div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>

    {% endif %}
</fieldset>
{% endblock %}
