{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, show picker #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#id_show").focus();
     });
</script>
{% endblock %}

{% block head %}
REGISTER FOR A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% if not show_count %}
        {# TODO: make this advice at top? Not in fieldset? #}
        <p class="info">There appear to be no active shows right now. Please try again soon.</p>
    {% else %}
        {% if form.errors %}
            <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
        {% endif %}

        <fieldset>
        <legend>Register for a show</legend>
        <form action="" method="post" id="center_inner">
            {% csrf_token %}
            <div class="field">
                <label>{{ form.show.label }}:</label>
                {{ form.show }}
                {% if form.show.errors %}
                    <span class="error">{{ form.show.errors|first }}</span>
                {% endif %}
            </div>
            {% if is_exhibitor %}
                <div class="field">
                    <label>{{ form.num_associates.label }}:</label>
                    {{ form.num_associates }}
                    {% if form.num_associates.errors %}
                        <span class="error">{{ form.num_associates.errors|first }}</span>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.num_assistants.label }}:</label>
                    {{ form.num_assistants }}
                    {% if form.num_assistants.errors %}
                        <span class="error">{{ form.num_assistants.errors|first }}</span>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.num_racks.label }}:</label>
                    {{ form.num_racks }}
                    {% if form.num_racks.errors %}
                        <span class="error">{{ form.num_racks.errors|first }}</span>
                    {% endif %}
                </div>
                <div class="field">
                    <label>{{ form.num_tables.label }}:</label>
                    {{ form.num_tables }}
                    {% if form.num_tables.errors %}
                        <span class="error">{{ form.num_tables.errors|first }}</span>
                    {% endif %}
                </div>
            {% else %}
                <div class="field">
                    <label>{{ form.num_attendees.label }}:</label>
                    {{ form.num_attendees }}
                    {% if form.num_attendees.errors %}
                        <span class="error">{{ form.num_attendees.errors|first }}</span>
                    {% endif %}
                </div>

                <div class="field">
                    <label>{{ form.days_attending.label }}:</label>
                </div>
                <div class="checkboxes">
                    {{ form.days_attending }}
                </div>
                {% if form.days_attending.errors %}
                    <span class="error">{{ form.days_attending.errors|first }}</span>
                {% endif %}

            {% endif %}
            <p class="submit">
                <input type="submit" value="Submit">
            </p>
        </form>

    {% endif %}
</fieldset>
{% endblock %}
