{% extends "base.html" %}


{% block internal_css %}
<style type="text/css">
</style>
{% endblock %}

{% block head %}
YOUR REGISTRATION DETAILS
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    {% load humanize %}
    {% load datemath %}

    <p></p>
    <fieldset>
    <legend>Show Details</legend>
    <div class="block">
        <p class="mylabel">Starts on:</p>
        <p class="myvalue date">{{ show.start_date|date:"l, F jS Y" }}</p>
    </div>
    <div class="block">
        <p class="mylabel">Ends on:</p>
        <p class="myvalue date">{{ show.end_date|date:"l, F jS Y" }}</p>
    </div>
    {% for d in registration.days_as_list %}
        <div class="block">
            <p class="mylabel">{% if forloop.first %}Attending on:{% else %}&nbsp;{% endif %}</p>
            <p class="myvalue date">{{ show.start_date|dayadd:d|date:"l, F jS Y" }} from 9am to 6pm</p>
        </div>
    {%  endfor %}
    <div class="block">
        <p class="address">
            DoubleTree by Hilton - Southcenter<br>
            16500 Southcenter Parkway<br>
            Seattle, WA 98188
        </p>
    </div>
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Disclaimers</legend>
        <div class="block">
            <p>By registering for this show, you agree to all terms and conditions of Northwest Kids Show.</p>
        </div>
    </fieldset>

    <p></p>
    <fieldset>
        <legend>Choose an Activity</legend>
        <p class="action"><a href="/edit/">Edit</a> my profile.</p>
        <p class="action"><a href="/report/exhibitors/">Report</a> on the EXHIBITORS registered for a show.</p>
        <p class="action"><a href="/report/lines/">Report</a> on the PRODUCT LINES at a show.</p>
    </fieldset>
{% endblock %}
