{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
CHOOSE A REGISTRATION
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Your Registrations</legend>
        {% if registrations %}
            <div class="block">
                <p>Click on a show below.</p>
            </div>
            {% for registration in registrations %}
                <div class="block">
                    <p>
                        <a href="/registered/{{ registration.show_id }}/">
                            {{ registration.show.name }}
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <div class="block">
                <p>You don't have any show registrations yet.</p>
            </div>
        {% endif %}
    </fieldset>
{% endblock %}
