{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
EXHIBITORS AT A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p></p>
    <fieldset>
        <legend>Exhibitors at a Show</legend>
        <div class="block">
            <p class="mylabel">For Show:</p>
            <p class="myvalue2 date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
        {% for e in exhibitors %}
            <div class="block">
                <p class="mylabel">{{ forloop.counter }}</p>
                <p class="myvalue2">
                    {{ e.first_name_display }}&nbsp;{{ e.last_name_display }}<br>
                    {% if e.company %}{{ e.company }}<br>{% endif %}
                    {% if e.email_display %}<a href="mailto:{{ e.email_display }}">{{ e.email_display }}</a><br>{% endif %}
                    {% if e.website %}<a href="{{ e.website }}">{{ e.website }}</a><br>{% endif %}
                    {% if e.phone %}{{ e.phone }}<br>{% endif %}
                    {% if e.fax %}{{  e.fax }}&nbsp;fax<br>{% endif %}
                    {% if e.address %}{{ e.address }}<br>{% endif %}
                    {% if e.address2 %}{{ e.address2 }}<br>{% endif %}
                    {% if e.city %}{{ e.city }},&nbsp;{% endif %}
                    {% if e.state %}{{ e.state }}&nbsp;{% endif %}
                    {% if e.zip %}{{ e.zip }}<br>{% endif %}
                    {% if e.lines %}{{  e.lines }}<br>{% endif %}
                </p>
                <hr>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
