{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
        @media print {
            body {
                color: black;
            }
            legend {
                color: black;
                border: 1px solid black;
            }
        }
        @media screen {
            body {
                color: #ebe7d7; /* tan */
            }
            legend {
                color: #70667d; /* purple */
                border: 1px solid #c1d2cf; /* teal */
            }
        }
        @media all {
            body {
                font-family: 'Sorts Mill Goudy', serif;
                font-size: large;
                background: #ebe7d7;
            }

            fieldset {
                border: 2px solid #70667d; /* purple */
                background: #70667d; /* purple */
                /*width: 20em*/
            }

            legend {
                font-weight: bold;
                background: #c1d2cf; /* teal */
                padding: 2px 6px
            }

            div.block {
                overflow:hidden;
            }

            div.block .mylabel {
                width: 8em;
                display:block;
                float:left;
                text-align:right;
                margin-right: 0.5em;
                margin-top: 0;
                margin-bottom: 0;
            }
            div.block .mywidelabel {
                width: 16em;
                display:block;
                float:left;
                text-align:left;
                margin-right: 0.5em;
                margin-top: 0;
                margin-bottom: 0;
            }
            div.block .myvalue{
                text-align: left;
                padding-top: 2px;
                display: block;
                padding-left: 10em;
{#                text-indent: -1em;#}
                margin-top: 0;
                margin-bottom: 0;
            }

            div.block .address{
                display:block;
                text-align:center;
                width: 16em;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 4em;
            }
            div.block .number{
                width: 5em;
                font-family: 'courier', sans-serif;
                text-align: right;
            }

            div.block .date{
                font-family: 'courier', sans-serif;
            }

            div.block .extra{
                font-family: 'courier', sans-serif;
                margin-left: 2em;
                float:left;
                margin-top: 0;
                margin-bottom: 0;
            }

            a:link     { font-weight:bold; color:#c1d2cf; text-decoration:none; }
            a:visited  { font-weight:bold; color:#c1d2cf; text-decoration:none; }
            a:hover    { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
            a:active   { font-weight:bold; color:#c1d2cf; text-decoration:underline; }
        }
    </style>
{% endblock %}

{% block head %}
EXHIBITORS' LINES AT A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p></p>
    <fieldset>
        <legend>Exhibitors' Lines at a Show</legend>
        <div class="block">
            <p class="mylabel">For Show:</p>
            <p class="myvalue date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
{#    {{ lines.items|pprint }}#}
        {% for line, exhibitor in lines %}
            <div class="block">
                <p class="mywidelabel">{{ line }}</p>
                <p class="myvalue">{{ exhibitor }}</p>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
