{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block jquery %}{# Set focus on the first input field, show picker #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_show").focus();
        });
    </script>
{% endblock %}

{% block head %}
LIST RETAILERS AT A SHOW
{% endblock %}

{% block content %}
    {% if not show_count %}
        <p class="info">You're not registered for any shows.</p>
    {% else %}
        {% if form.errors %}
            <p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
        {% endif %}

        <fieldset>
        <legend>List Retailers Registered for a Show</legend>
        <form action="" method="post" id="center_inner">
            {% csrf_token %}
            <p class="field">
                <label>{{ form.show.label }}:</label>
                {{ form.show }}
                {% if form.show.errors %}
                    <div class="error">{{ form.show.errors|first }}</div>
                {% endif %}
            </p>
            <p class="submit">
                <input type="submit" value="Submit">
            </p>
        </form>

    {% endif %}
</fieldset>
{% endblock %}
