{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
RETAILERS AT A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p></p>
    <fieldset>
        <legend>Retailers Registered for a Show</legend>
        <div class="block">
            <p class="mylabel">For Show:</p>
            <p class="myvalue2 date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
        {% for r in retailers %}
            <div class="block">
                <p class="mylabel">{{ forloop.counter }}</p>
                <p class="myvalue2">
                    {{ r.first_name_display }}&nbsp;{{ r.last_name_display }}<br>
                    {% if r.company %}{{ r.company }}<br>{% endif %}
                    {% if r.email_display %}<a href="mailto:{{ r.email_display }}">{{ r.email_display }}</a><br>{% endif %}
                    {% if r.website %}<a href="{{ r.website }}">{{ r.website }}</a><br>{% endif %}
                    {% if r.phone %}{{ r.phone }}<br>{% endif %}
                    {% if r.fax %}{{  r.fax }}&nbsp;fax<br>{% endif %}
                    {% if r.address %}{{ r.address }}<br>{% endif %}
                    {% if r.address2 %}{{ r.address2 }}<br>{% endif %}
                    {% if r.city %}{{ r.city }},&nbsp;{% endif %}
                    {% if r.state %}{{ r.state }}&nbsp;{% endif %}
                    {% if r.zip %}{{ r.zip }}<br>{% endif %}
                </p>
                <hr>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
