{% extends "base.html" %}

{% block jquery %}
{% include "printer_script.html" %}
{% endblock %}

{% block head %}
EXHIBITORS AT A SHOW
{% endblock %}

{% block content %}
    {% load get_item %}

    {% include "printer_export_bar.html" %}

    <p></p>
    <fieldset class="printme">
        <legend>Exhibitors Registered for a Show</legend>
        <div class="block">
            <p class="mylabel">For Show:</p>
            <p class="myvalue2 date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
        {% for e in exhibitors %}
            <div class="block">
                <p class="mylabel">{{ forloop.counter }}</p>
                <p class="myvalue2">
                    {{ e.first_name_display }}&nbsp;{{ e.last_name_display }}
                    {% if e.company %}<br>{{ e.company }}{% endif %}
                    {% if e.email_display %}<br><a href="mailto:{{ e.email_display }}">{{ e.email_display }}</a>{% endif %}
                    {% if e.website %}<br><a href="{{ e.website }}">{{ e.website }}</a>{% endif %}
                    {% if e.phone %}<br>{{ e.phone }}{% endif %}
                    {% if e.fax %}<br>{{  e.fax }}&nbsp;fax{% endif %}
                    {% if e.address %}<br>{{ e.address }}{% endif %}
                    {% if e.address2 %}<br>{{ e.address2 }}{% endif %}
                    {% if e.city or e.state or e.zip %}<br>{% endif %}
                    {% if e.city %}{{ e.city }},&nbsp;{% endif %}
                    {% if e.state %}{{ e.state }}&nbsp;{% endif %}
                    {% if e.zip %}{{ e.zip }}{% endif %}
                    {% if e.lines %}<br>{{ e.lines }}{% endif %}
                    {% if rooms|get_item:e.id %}<br>Room #{{ rooms|get_item:e.id }}{% endif %}
                </p>
                <hr>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}

{% block hidden %}
{#<iframe name=print_frame width=0 height=0 frameborder="0" seamless="1" src='about:blank'></iframe>#}
{% endblock %}
