{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
EXHIBITORS' LINES AT A SHOW
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p></p>
    <fieldset>
        <legend>Exhibitors' Lines at a Show</legend>
        <div class="block">
            <p class="mywidelabel">For Show:</p>
            <p class="myvalue2 date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
{#    {{ lines.items|pprint }}#}
        {% for line, tuple in lines %}
            {# tuple.0 is the exhibitor #}
            {# tuple.1 is the exhibitor id #}
            <div class="block">
                <p class="mywidelabel">{{ line }}</p>
                <p class="myvalue2"><a href="/exhibitors/{{ tuple.1 }}/{{ show.id }}/">{{ tuple.0 }}</a></p>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
