{% extends "base.html" %}

{% block jquery %}
{% include "printer_script.html" %}
{% endblock %}

{% block head %}
EXHIBITORS' LINES AT A SHOW
{% endblock %}

{% block content %}
    {% include "printer_export_bar.html" %}
    <p></p>
    <fieldset class="printme">
        <legend>Exhibitors' Lines at a Show</legend>
        <div class="block">
            <p class="mywidelabel">For Show:</p>
            <p class="myvalue2 date">{{ show.start_date|date:"F Y" }}</p>
        </div>
        <hr>
        {# {{ lines|pprint }} #}
        {% for line, name, id, room in lines %}
            <div class="block">
                <p class="mywidelabel">{{ line }}</p>
                <p class="myvalue3"><a href="/exhibitors/{{ id }}/{{ show.id }}/">{{ name }}</a></p>
                {% if room %}
                    <p class="myvalue3">Room #{{ room }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}
