{% extends "base.html" %}


{% block internal_css %}
    <style type="text/css">
    </style>
{% endblock %}

{% block head %}
    RETAILER
{% endblock %}

{% block content %}
    <fieldset>
        <legend>Choose an Activity</legend>
        <p class="action"><a href="/register/">Register</a> for a show.</p>

        <p class="action"><a href="/registrations/">View</a> shows you've registered for.</p>

        <p class="action"><a href="/report/exhibitors/">Report</a> on the EXHIBITORS at a show.</p>

        <p class="action"><a href="/report/lines/">Report</a> on the PRODUCT LINES at a show.</p>

        <p class="action"><a href="/edit/">Edit</a> my profile.</p>

        <p class="action"><a href="/accounts/password_change/">Change</a> my password.</p>
    </fieldset>
{% endblock %}
